@model IEnumerable<DIP.Models.SysUser>
@{
    ViewData["Title"] = "重設密碼";
}

<h2 class="mb-4">@ViewData["Title"]</h2>

<form asp-action="ResetPassword" method="post" class=" mb-3">
   <div>
        <select name="userLogid" class="form-select" style="width:300px" required>
            <option value="">-- 請選擇帳號 --</option>
            @foreach (var user in Model)
            {
                <option value="@user.UserLogid">@user.UserLogid</option>
            }
        </select>
   </div>

    <button type="submit" class="btn btn-danger mt-3">重設</button>
</form>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}
@if (ViewBag.Success != null)
{
    <div class="alert alert-success">@ViewBag.Success</div>
}